p, label, option, select {
  font-size:50px
}

#select_lang{
  display:inline-block;
}

#counter{
  display:inline-block;
  align-content:right
}

@media screen and (max-width: 800px) {
  p,label,option,select{
    font-size: 20px;
  }
}